body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: grey !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: table;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  background-color:whitesmoke;
  position: relative;
  overflow-y: auto;
}

.screen {
  width: clamp(375px, 100vw, 500px);
}

.font-lg {
  font-size: 18px;
}

.font-xs {
  font-size: 8px;
}

.font-sm {
  font-size: 10px;
}

.font-md {
  font-size: 14px;
}

.font-xl {
  font-size: 26px;
}

.font-lg {
  font-size: 18px;
}

.weight-xs {
  font-weight: 100;
}

.weight-sm {
  font-weight: 300;
}

.weight-md {
  font-weight: 400;
}

.weight-lg {
  font-weight: 500;
}

.weight-xl {
  font-weight: 700;
}