/* @font-face {
  font-family: "aquas";
  src: url('../public/aquawax/Aquawax\ Light\ Trial.ttf') format('truetype');
  src: url('../public/aquawax/Aquawax\ Medium\ Trial.ttf') format('truetype');
  src: url('../public/aquawax/Aquawax\ Black\ Trial.ttf') format('truetype');
} */

@font-face {
  font-family: "aquas";
  font-style: bold;
  src: url('../public/aquawax/Aquawax\ Black\ Trial.ttf');
}

@font-face {
  font-family: "aquas";
  font-weight: lighter;
  src: url('../public/aquawax/Aquawax\ Light\ Trial.ttf');
}

@font-face {
  font-family: "aquas";
  font-weight: normal;
  src: url('../public/aquawax/Aquawax\ Medium\ Trial.ttf');
}

body {
  font-family: 'aquas', 'Segoe UI', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: grey !important;
}

h1, h2, h3, h4, h5, h6, .aquas {
  font-family: 'aquas' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: table;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  background-color:whitesmoke;
  position: relative;
  overflow-y: auto;
  padding-bottom: 125px;
}

.screen {
  width: clamp(375px, 100vw, 500px);
  padding-bottom: 50px;
}

.font-lg {
  font-size: 18px;
}

.font-xs {
  font-size: 8px;
}

.font-sm {
  font-size: 10px;
}

.font-md {
  font-size: 14px;
}

.font-xl {
  font-size: 26px;
}

.font-lg {
  font-size: 18px;
}

.weight-xs {
  font-weight: 100;
}

.weight-sm {
  font-weight: 300;
}

.weight-md {
  font-weight: 400;
}

.weight-lg {
  font-weight: 500;
}

.weight-xl {
  font-weight: 700;
}